$main-font: 'Poppins', sans-serif;

a{
    all: unset;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: $main-font;
    background-color: #f5f1f1;
}

.result-container{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    
}

#result {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    grid-template-rows: repeat(7, 13%);
    color: white;
    width: 80%;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.article-description{
    width: 94%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: 0 0;
    color: #fff; 
    padding: 15px 3% 40px 3%;
    height: 20%;
}

// .article-card::before {
//     content: '';
//     display: inline-block;
//   }

.article-card{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-column: span 2;
    position: relative;
    text-shadow: rgb(0, 0, 0, 0.9) 5px 3px 4px;
    .abstract{
        display: none;
    }
    p{
        font-size: .5em;
    }
    h4{
font-size: 1em;
    }
}

.article-card:nth-child(1){
    grid-column: 1/5;
    grid-row: 1/3;
    height: 100%;
    .abstract{
        display: block;
    }
    h4{
        font-size: 2em;
    }
    p{
        font-size: 1em;
    }
    .article-description{
        width: 97%;
        padding: 15px 0px 50px 15PX;
    }
}

.article-card:nth-child(4){
   box-shadow: rgb(0 0 0 / 39%) 3px 1px 6px 0px;
text-shadow: none;
.section, .published_date{
    color: #969696;
 }
    .article-description{
        color: black;
        background-color: white;
       
    }
}

.article-card:nth-child(5){
    box-shadow: rgb(0 0 0 / 39%) 3px 1px 6px 0px;
 text-shadow: none;
 .section, .published_date{
    color: #969696;
 }
     .article-description{
         color: black;
         background-color: white;
        
     }
 }

 .article-card:nth-child(6){
    box-shadow: rgb(0 0 0 / 39%) 3px 1px 6px 0px;
 text-shadow: none;
 .section, .published_date{
    color: #969696;
 }
     .article-description{
         color: black;
         background-color: white;
        
     }
 }

 .section{
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-weight: 500;
    letter-spacing: .85px;
    font-size: 1em;
    line-height: 100%;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
 }

 .published_date{
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-weight: 500;
    letter-spacing: .5px;
    font-size: 1em;
    line-height: 100%;
    font-weight: 600;
    color: white;
 }